body {
  background-color: rgb(243, 243, 226);
  text-align: center;
}

.logout-btn {
  background-color: rgb(221, 151, 85);
  width: 10%;
}

.logout-btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
