* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-header {
  align-items: center;
  background-color: rgb(216, 216, 151);
  display: flex;
  height: 5vh;
  justify-content: space-around;
}

.container-header div a {
  color: rgb(150, 64, 64);
  text-decoration: none;
}
