<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Admin</title>
  </head>

  <body>
    <h1>Deletar receita</h1>

    <% if (message) {%>
      <p><%= message %></p>
    <% } %>

    <form action=<%= pathRedirect %> method="POST">
      <p>digite sua senha:</p><input name="input_password" type="text" />
      <button type="submit">Deletar receita</button>
    </form>

    <button onclick="window.location.pathname='/logout'">Logout</button>
  </body>
</html>
