<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cookmaster - Admin</title>
  <link rel="stylesheet" type="text/css" href="/header.css">
  <link rel="stylesheet" type="text/css" href="/admin.css">
</head>

<body>
  <header>
    <%- include("../header.ejs") %>
  </header>

  <h1>Painel Administrativo Cookmaster</h1>
  <p>Usuário atual: <%= `${user.name} ${user.lastName}` %></p>
  <p>Id: <%= user.id %></p>
  <button class="logout-btn" onclick="window.location.pathname='/logout'">Logout</button>
</body>

</html>