<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookmaster - Register</title>
  </head>
  <body>
    <% if (message) { %>
    <div class="message">
      <%= message %>
    </div>
    <% } %>
    <form action="/register" method="POST">
      <label for="emailInput">Email:</label>
      <input type="text" name="email" id="emailInput" /><br />
      <label for="passwordInput">Senha:</label>
      <input type="text" name="password" id="passwordInput" /><br />
      <label for="firstNameInput">Nome:</label>
      <input type="text" name="firstName" id="firstNameInput" /><br />
      <label for="lastNameInput">Sobrenome:</label>
      <input type="text" name="lastName" id="lastNameInput" />
      <button type="submit">Cadastrar</button>
    </form>
  </body>
</html>
