<!doctype html>
<html>

<head>
  <title>MVC com Express</title>
</head>

<body>
  <% if (message) { %>
    <p>
      <%= message %>
    </p>
  <% } %>
  <form action="/signup" method="POST">
    <label for="email">Email:</label>
    <input id="email" name="email" type="email" />
    <label for="password">Senha:</label>
    <input id="password" name="password" type="password" />
    <label for="confirm_password">Confirmar senha:</label>
    <input id="confirm_password" name="confirm_password" type="password" />
    <label for="first_name">Nome:</label>
    <input id="first_name" name="first_name" type="text" />
    <label for="last_name">Sobrenome:</label>
    <input id="last_name" name="last_name" type="text" />
    <a href="/login">Fazer login</a>
    <button type="submit">Cadastrar-se</button>
  </form>
</body>

</html>