<section>
  <input type="hidden" class="name" name="name" form="addIngredients" />
  <input type="hidden" class="instructions" name="instructions" form="addIngredients" />
  <input type="hidden" name="recipeId" value="<%= recipeId %>" form="addIngredients" />
  <input
    class="box form-control"
    type="hidden"
    name="ingredients"
    value="<%= ingredients %>"
    form="postRecipe"
  />
  <input
    class="box form-control"
    type="hidden"
    name="ingredients"
    value="<%= ingredients %>"
    form="addIngredients"
  />
</section>
