<nav>
  <div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/recipes/new">Nova receita</a></li>
      <li><a href="/recipes/search">Buscar receita</a></li>
      <li><a href="/new-user/">Novo usuário</a></li>
      <li><a href="/me/recipes">Minhas receitas</a></li>
      <li><a href="/me/edit">Editar perfil</a></li>
      <li><a href="/login">Login!</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>