<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body>
    <h1>Boas vindas ao Cookmaster!</h1>
    <% recipes.forEach((recipe)=> {%>
      <p>Receita: <%= recipe[0] %></p>
      <p>Realizado Por: <%= recipe[1] %></p>
        <% if(token) {%>
          <a href="/test">Mais detalhes</a>
        <% } %>
    <% }) %>
  </body>
</html>
