<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cookmaster - Home</title>
</head>

<body>
  <header>
    <%- include("./header.ejs") %>
  </header>

  <h1>Boas vindas ao Cookmaster!</h1>
  <h2>Receitas cadastradas</h2>
  <ul>
    <% results.forEach(recipe => { %>
    <li>Receita: <%= (recipe[1]) %> - Autor: <%= (recipe[2]) %></li>
    <a href=<%= `/recipes/${recipe[0]}` %>>Ver receita</a>
    <% }) %>
  </ul>
  <% if (btn) { %>
  <form action="/recipes/new" method="GET">
    <button type="submit">Nova receita!</button>
  </form>
  <% } %>
</body>

</html>