<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cookmaster - Home</title>
</head>
<body>
  <nav>
    <h3>Cookmaster</h3>
    <h4>Login</h4>
  </nav>
  <h1>Receitas</h1>
  <button type="button">Buscar Receitas</button>
  <button type="button">Nova Receita</button>
  <% recipes && recipes.forEach((recipe) => { %>
    <p><%= recipe.recipeName %></p>
    <p><%= recipe.userName %></p>
    <a href=<%= `/recipes/${recipe.recipeId}` %>>Ver detalhes</a>
  <% }) %>
</body>

</html>