<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Detalhes de Receita</title>
  </head>
  <body>
    <h1>Cookmaster - Detalhes de Receita</h1>
    <div class="recipe-content">
      <h3><%= recipe.name %> </h3>
      <ul>
          <% recipe.ingredients.map((ingredient) => { %>
            <li>
              <%= ingredient %>
            </li>
          <% }) %>
      </ul>
      <div>
        <%= recipe.description %>
      </div>
    </div>
    <div>
      <% if(user && (user.id === recipe.id)) { %>
        <button type="button">Editar receita</button>
        <button type="button">Excluir Receita</button>
      <% } %>
    </div>

  </body>
</html>
