<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cookmaster - Pesquisar</title>
</head>

<body>

  <header>
    <%- include("./header.ejs") %>
  </header>

  <h1>Pesquisar Receita</h1>
  <form action="/recipes/search?q=" method="GET">
    <input name="q" type="text" /> </br>
    <button type="submit">Pesquisar!</button> </br>
  </form>
  <% if (list) { %>
  <% if (!list.length) { %>
  <p>Não foram encontrados resultados</p>
  <% } %>

  <ul>
    <% list.forEach(recipe => { %>
    <li>Receita: <%= (recipe[1]) %> - Autor: <%= (recipe[2]) %></li>
    <a href=<%= `/recipes/${recipe[0]}` %>>Ver receita</a>
    <% }) %>
  </ul>
  <% } else { %>
  <p>Faça sua busca!</p>
  <% } %>
</body>

</html>