<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cookmaster - receitas do usuário</title>
  <link rel="stylesheet" type="text/css" href="/home.css">
  <link rel="stylesheet" type="text/css" href="/header.css">
</head>

<body>

  <header>
    <%- include("./header.ejs") %>
  </header>

  <h2>Receitas cadastradas por <%= (results[0][2]) %> </h2>
  <ul class="container-flex-recipes">
    <% results.forEach(recipe => { %>
    <div class="container-recipe">
      <li><%= (recipe[1]) %></li>
      <a href=<%= `/recipes/${recipe[0]}` %>>Ver receita</a>
    </div>
    <% }) %>
  </ul>
</body>

</html>