<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <title>Cookmaster - Logout</title>
  </head>

  <body id="body" class="box flex-column">
    <h1>Você se desconectou com sucesso!</h1>
    <button class="box box60 btn btn-warning" onclick="window.location.pathname='/login'">
      Ir para o login
    </button>
  </body>
</html>
