<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Login</title>
  </head>
  <body>
    <% if (message) {%>
    <div class="message">
      <%= message %>
    </div>
    <% } %>
    <form action="/recipes/<%= recipe.id %>/delete" method="POST">
      <label for="passwordInput">Senha: </label>
      <input type="password" name="password" id="passwordInput" /><br />
      <button type="button" onclick="window.location.pathname='/'">Home</button>
      <button type="submit">Deletar</button>
    </form>
  </body>
</html>