<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Recipe Details</title>
  </head>
  <body>
    <h1>Receita de <%= recipe[0][1]%></h1>
    <h3>Ingredientes: <%= recipe[0][2]%></h3>    
    <p>
      Como Fazer: <%= recipe[0][3] %>
    </p>
    <% if(recipeUser) { %>
    <form action="<%=`/recipes/${recipe[0][0]}/edit`%>" method="GET">
    <button type="submit">Editar Receita</button>
    </form>
    </br>
    <button>Excluir Receita</button>
    <% } %>
  </body>
</html>