<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>
</head>

<body>
  <div>
    <h6>Cookmaster - Receitas</h6>
    <form action=<%= `/recipes/${id}` %> method="POST">
      <label for="title">Título da Receita</label>
      <input type="text" id="title" name="title" value=<%= title %>>
      <br>
      <label for="ingredients">Ingredientes</label>
      <textarea type="text" id="ingredients" name="ingredients"><%= ingredients %></textarea>
      <br>
      <label for="detailsRecipe">Modo de Preparo</label>
      <textarea type="text" id="detailsRecipe" name="detailsRecipe"><%= detailsRecipe %></textarea>
      <br>
      <button type="submit">Enviar Receita</button>
      <button type="button" onclick="history.go(-1);">Voltar</button>
    </form>
  </div>
</body>

</html>
