<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Cadastro de Receita</title>
  </head>
  <body>
    <% if (error) {%>
    <div class="message">
      <%= message %>
    </div>
    <% } %>
    <form action="/recipes/new" method="POST">
      <label for="recipeNameInput">Nome da Receita: </label>
      <input type="text" name="recipeName" id="recipeNameInput" /><br />
      <label for="ingredientsInput">Ingredientes: </label>
      <input type="textbox" name="ingredients" id="ingredientsInput" /><br />
      <label for="recipeInput">Modo de Preparo: </label>
      <input type="textbox" name="recipe" id="recipeInput" /><br />
      <p>Autor: <%= author%></p>
      <button type="button" onclick="window.location.pathname='/'">Home</button>
      <button type="submit">Cadastrar</button>
    </form>
  </body>
</html>