<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/recipes/search" method="POST">
    <label for="searchInput">Nome da receita: </label>
    <input type="text" name="q" id="searchInput" />
    <button>Procurar</button>
  </form>
  <button onclick="javascript:history.back()">Voltar</button>
</body>
</html>