<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cookmaster - Home</title>
</head>
<body>
  <nav>
    <h3>Cookmaster</h3>
    <h4>Login</h4>
  </nav>
  <h1><%= recipe.recipeName%></h1>
</body>

</html>